body{
	background-image: url("../images/fondo.jpg");
	background-size: cover;
}

.transparencia{
	background-color: rgba(0,0,0,.4);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.radio{
	width: 15%;
	display: inline-block;
	border: 1px solid black;
    border-radius: 10px;
}

.radio label img{
	width: 100%;
}

h2{
	color: #36D1C4;
}

